<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/styleAdmin.css' />
  </head>
  <body>

<h1>PROXIMAMENTE VAMOS A TENER EL LOGIN</h1>
{{! Extiende el layout de administrador si usas layouts }}
{{!-- {{!< adminLayout }} --}}
{{{contenido}}}
{{!-- Aquí puedes agregar enlaces o botones para volver al panel principal --}}
<a href="/" class="btn btn-primary">Volver al Home</a>




</body>
</html>