body {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c6c5f7+1,0a0406+73,14020a+100 */
    background: linear-gradient(to bottom, rgb(176, 176, 196) 1%, rgb(10, 4, 6) 73%, rgb(3, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    /* background-size: cover;
    background-attachment: fixed;     */

}

h1 {
    color: rgb(215, 9, 9);
    font-family: Architects Daughter;
    /* background-color: rgb(243, 6, 6); */
    font-size: 3EM;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    letter-spacing: 1.1px;
    background-color: rgba(0, 0, 0, 0.8);
}

h2 {
    text-align: center;
    font-family: Architects Daughter;
    margin: 0 auto;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgba(243, 209, 13, 0.9);
    text-transform: uppercase;
    text-decoration: underline;

}

#fondo {
    width: 100%;
    height: 800px;
    margin: 0;
    background-image: url("https://img.freepik.com/foto-gratis/fotografia-alimentos-diferentes-frutas-verduras-superficie-mesa-madera-blanca_1150-42603.jpg?t=st=1745288207~exp=1745291807~hmac=675043a357975a7eea49a25f9fad5d2480d6dbebbd6fb0277f5a2750f4e2e7d1&w=996");
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;

    /* display: flex;
    flex-direction: column;
    justify-items: row-reverse; */
}

#opaco {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);


}

p {
    color: aqua;
}

a {
    color: whitesmoke;
}

a:hover {
    color: rgb(230, 246, 6);
}

li {
    color: blanchedalmond;
    font-style: italic;
}

li::first-letter {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
}

/* .cuadro_h3 {
     background: #3f5efb57;
    background: radial-gradient(circle, rgba(63, 94, 251, 0.3) 0%, rgba(252, 70, 107, 0.4) 100%);
    border: 2px solid black;  
     margin: 0;
    margin-top: 20px;
    padding-inline: 10px; 
     border-radius: 20px 20px 20px 20px; 
} */

#NITRO {
    display: flex;
    justify-content: end;
    color: rgba(255, 255, 255, 0.96);
}

#contenedor-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.cuadro-informacion {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    border: 1px solid black;
    background-color: #03081e88;
    margin: 30px;
    width: 750px;
}

/* .info-texto {
    display: flex;
    flex-direction: column;
} */

#separacion {
    margin: 1px;
}



/*Transition: [property] [duration] [timing-function] [delay];*/