h1 {
    /*es al elemento que aplica*/
    color: rgb(0, 0, 0);
    /*color d ela fuente en RGB*/
    font-family: 'Arial';
    /*fuente de la letra*/
    text-align: center;
    /*alineacion del texto*/
    background-color: rgba(47, 112, 225, 0.685);
    /*fondo con color*/
}

h2 {
    color: rgb(35, 8, 237);
    font-family: 'Arial';
    text-transform: uppercase;
    /*capitalize pone mayuscula a la letra inicial de cada palabra*/
}

p {
    color: rgb(0, 0, 0);
    font-family: 'Tahoma';
}

li {
    color: rgb(0, 0, 0);
    font-family: 'Arial';
}

#cuadro {
    width: 300px;
    height: 200px;
    background-color: rgb(174, 184, 246);
    border: 2px solid black;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#cuadro p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: brown;
    text-align: center;
}

#formulario {
    width: 280px;
    height: 50px;
    background-color: rgba(22, 239, 10, 0.749);
    border: 2px solid black;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#video {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 5px solid black;
}

#foto_goku {
    box-sizing: border-box;
    border: 5px solid black;
}