<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>      
        <div class="stupa">
          <img src="/images/BENMAN_LOGO_PRUEBA.jpg" width="100" alt="BENMAN LOGISTICA" />
          <h1>BENMAN LOGISTICA</h1>
        </div>
    </header>    
    {{{body}}}
    <footer>
      <p>Diseñado por Agustin Milani - &copy;2025</p>
    </footer>
    <button>
      <a href="/admin/login" class="btn btn-primary">Panel de Administración</a>
    </button>
  </body>
</html>
