
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2 class="tituloConocido">Vamos a verificar que seas una persona conocida</h2>
   
{{#if conocido}}
<div class="service-card service-icon"> 
    <p>✈️</p>
    <h3>HOLA {{nombre}}</h3>
    <p>Bienvenido nuevamente.</p>
    <button><a href="/salir">Salir</a></button>
</div>
{{/if}}

{{#unless conocido}}
<div class="service-grid service-card service-icon"> 
    <p>✈️</p>
    <h3>HOLA, NO SOS UNA PERSONA REGISTRADA</h3>
    <form action="/ingresar" method="post">
        <input type="text" name="nombre" placeholder="Coloque su nombre"><button>Ingresar</button>
    </form>
    {{!-- <form action="/ingresar" method="post">
        <input type="text" name="pais" placeholder="Coloque su país"><button>Ingresar</button>
    </form> --}}
</div>
{{/unless}}
